<a class="home_button" href="/categories/new">Add New Expense Category</a>
<a class="home_button" href="/expenses/new">Add New Expense</a>
<br>
<br>

<h3>Total Spend:
    <%= dollar_display(current_user.expenses.sum(:amount)) %>
</h3>


<div class="container">
<% @categories.each do |c| %>
  <div class="tile">
    <div class="tile_name"><a href="/categories/<%=c.id%>"><%= c.name %></a></div>
    <div class="tile_sum"><%= dollar_display(c.expense_sum) %></div>
  </div>
<% end %>
</div>

<br>
<br>

<table>
  <% @categories.each do |c| %>
    <tr>
      <td> <%= c.name %> </td>
      <td style="color: teal; text-align: right;"><strong><%= c.expense_percent.round(1) %>% </strong></td>
      <td> <%= "|" * c.expense_percent.round(0) %> </td>
    </tr>
  <% end %>
</table>
