<h2><%= @category.name %></h2>
<a class="home_button" href="/categories/<%=@category.id%>/edit">Edit Category Name</a>

<br>
<br>

<table>
  <tr>
    <th>Date</th>
    <th>Vendor</th>
    <th>Amount</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

  <% @category.expenses.each do |e| %>
  <tr>
    <td><%= e.date %></td>
    <td><%= e.vendor %></td>
    <td><%= dollar_display(e.amount) %></td>
    <td><%= e.description %></td>
    <td>
      <form action="/expenses/<%= e.id %>/c" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="category_id" value="<%=@category.id%>">
        <input class="deletebutton" type="submit" value="X">
      </form>
    </td>
    <td><a class="editbutton" href='/expenses/<%= e.id %>/edit'>Edit</a></td>
</tr>
  <% end %>
</table>
